.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.vite/
dist/

node_modules/
/dist/
/build/
/out/
.next/
.nuxt/
bower_components/
jspm_packages/
.npm/
.eslintcache
.stylelintcache
*.tsbuildinfo

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.jest/
coverage/
.nyc_output/
.playwright/
playwright-report/
test-results/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
.cfignore


# AWS CDK (Cloud Development Kit)
.cdk.staging/
cdk.out/

# AWS SAM (Serverless Application Model)
.aws-sam/

# AWS Amplify
amplify/.config/local-*
amplify/mock-data/
amplify/backend/amplify-meta.json
amplify/backend/.amplify-bin/
amplify/backend/awscloudformation/
amplify_outputs.json
aws-exports.js
aws-exports.ts

# Serverless Framework
.serverless/

# General AWS CLI / Local Stack
.aws/
.localstack/

cdk.out/